In [1]:
# Name - Karanjot Singh
# Roll No. - 102317275
# Subgroup - 2Q-11

In [2]:
# Q1. Create a dataset as follow in the table and print it 

import pandas as pd #importing the pandas library
df = pd.read_csv("table.csv") #reading the csv file
print("the content of the table is :")
print()
print(df.to_string())

the content of the table is :

   Tid Refund Marital Status  Taxable Income Cheat
0    1    Yes         Single          125000    No
1    2     No        Married          100000    No
2    3     No         Single           70000    No
3    4    Yes        Married          120000    No
4    5     No       Divorced           95000   Yes
5    6     No        Married           60000    No
6    7    Yes       Divorced          220000    No
7    8     No         Single           85000   Yes
8    9     No        Married           75000    No
9   10     No         Single           90000   Yes

In [3]:
# Q.2 From the above table that you have created, locate row 0, 4, 7 and 8 using DataFrame.

import pandas as pd #importing the pandas library
df = pd.read_csv("table.csv") #reading the csv file
print("the content of the table is :")
print(df.to_string())

print()

print("printing the 0th row")
print(df.loc[0])
print()

print("printing the 4th row")
print(df.loc[4])
print()

print("printing the 7th row")
print(df.loc[7])
print()

print("printing the 8th row")
print(df.loc[8])
print()

the content of the table is :
   Tid Refund Marital Status  Taxable Income Cheat
0    1    Yes         Single          125000    No
1    2     No        Married          100000    No
2    3     No         Single           70000    No
3    4    Yes        Married          120000    No
4    5     No       Divorced           95000   Yes
5    6     No        Married           60000    No
6    7    Yes       Divorced          220000    No
7    8     No         Single           85000   Yes
8    9     No        Married           75000    No
9   10     No         Single           90000   Yes

printing the 0th row
Tid                    1
Refund               Yes
Marital Status    Single
Taxable Income    125000
Cheat                 No
Name: 0, dtype: object

printing the 4th row
Tid                      5
Refund                  No
Marital Status    Divorced
Taxable Income       95000
Cheat                  Yes
Name: 4, dtype: object

printing the 7th row
Tid                    8
Refund                No
Marital Status    Single
Taxable Income     85000
Cheat                Yes
Name: 7, dtype: object

printing the 8th row
Tid                     9
Refund                 No
Marital Status    Married
Taxable Income      75000
Cheat                  No
Name: 8, dtype: object

In [4]:
# Q.3 Navigate the DataFrame and do the following task for the table created in question 1:
# 1. Select row from index 3 to 7.
# 2. Select row from index 4 to 8, and column 2 to 4.
# 3. Select all rows with column index 1 to 3 (include index 3 during selection).

import pandas as pd
df = pd.read_csv("table.csv")
print("the content of the table is :")
print()
print(df.to_string())

print()
print("printing the row 3 to 6")
print(df.iloc[3:7])
print()

print("printing the row 4 to 8 and coloumn 2 to 5")
print(df.iloc[4:9,2:5])
print()

print("printing the all rows and coloumn 1 to 3")
print(df.iloc[:,1:4])

the content of the table is :

   Tid Refund Marital Status  Taxable Income Cheat
0    1    Yes         Single          125000    No
1    2     No        Married          100000    No
2    3     No         Single           70000    No
3    4    Yes        Married          120000    No
4    5     No       Divorced           95000   Yes
5    6     No        Married           60000    No
6    7    Yes       Divorced          220000    No
7    8     No         Single           85000   Yes
8    9     No        Married           75000    No
9   10     No         Single           90000   Yes

printing the row 3 to 6
   Tid Refund Marital Status  Taxable Income Cheat
3    4    Yes        Married          120000    No
4    5     No       Divorced           95000   Yes
5    6     No        Married           60000    No
6    7    Yes       Divorced          220000    No

printing the row 4 to 8 and coloumn 2 to 5
  Marital Status  Taxable Income Cheat
4       Divorced           95000   Yes
5        Married           60000    No
6       Divorced          220000    No
7         Single           85000   Yes
8        Married           75000    No

printing the all rows and coloumn 1 to 3
  Refund Marital Status  Taxable Income
0    Yes         Single          125000
1     No        Married          100000
2     No         Single           70000
3    Yes        Married          120000
4     No       Divorced           95000
5     No        Married           60000
6    Yes       Divorced          220000
7     No         Single           85000
8     No        Married           75000
9     No         Single           90000

In [5]:
#Q.4 Read a csv file and display its first five rows.


import pandas as pd
df = pd.read_csv("table.csv")
print("the content of the table is :")
print()
print(df.to_string())
print()

print("printing the first 5 rows")
print()
print(df.head())

the content of the table is :

   Tid Refund Marital Status  Taxable Income Cheat
0    1    Yes         Single          125000    No
1    2     No        Married          100000    No
2    3     No         Single           70000    No
3    4    Yes        Married          120000    No
4    5     No       Divorced           95000   Yes
5    6     No        Married           60000    No
6    7    Yes       Divorced          220000    No
7    8     No         Single           85000   Yes
8    9     No        Married           75000    No
9   10     No         Single           90000   Yes

printing the first 5 rows

   Tid Refund Marital Status  Taxable Income Cheat
0    1    Yes         Single          125000    No
1    2     No        Married          100000    No
2    3     No         Single           70000    No
3    4    Yes        Married          120000    No
4    5     No       Divorced           95000   Yes

In [6]:
#Q.5 From the csv file (uploaded in the Q.4) delete row 4, and delete column 3. Display the result.


import pandas as pd
df = pd.read_csv("table.csv")
print("the content of the table is :")
print()
print(df.to_string())
print()

print("after deleting the 4 th row")
print()
print(df.drop(4,axis=0,inplace=True))
print(df.to_string())

print()
print("after deleting the 3rd coloumn")
print()
print(df.drop(df.columns[3],axis=1,inplace=True))
print(df.to_string())

the content of the table is :

   Tid Refund Marital Status  Taxable Income Cheat
0    1    Yes         Single          125000    No
1    2     No        Married          100000    No
2    3     No         Single           70000    No
3    4    Yes        Married          120000    No
4    5     No       Divorced           95000   Yes
5    6     No        Married           60000    No
6    7    Yes       Divorced          220000    No
7    8     No         Single           85000   Yes
8    9     No        Married           75000    No
9   10     No         Single           90000   Yes

after deleting the 4 th row

None
   Tid Refund Marital Status  Taxable Income Cheat
0    1    Yes         Single          125000    No
1    2     No        Married          100000    No
2    3     No         Single           70000    No
3    4    Yes        Married          120000    No
5    6     No        Married           60000    No
6    7    Yes       Divorced          220000    No
7    8     No         Single           85000   Yes
8    9     No        Married           75000    No
9   10     No         Single           90000   Yes

after deleting the 3rd coloumn

None
   Tid Refund Marital Status Cheat
0    1    Yes         Single    No
1    2     No        Married    No
2    3     No         Single    No
3    4    Yes        Married    No
5    6     No        Married    No
6    7    Yes       Divorced    No
7    8     No         Single   Yes
8    9     No        Married    No
9   10     No         Single   Yes

In [9]:
# Q.6 Create a sample dataset (employees.csv) containing information about employees in
# a company.
# WAP to determine the following using dataset in Q6:
# a) Shape (number of rows and columns) of the DataFrame.

import pandas as pd
df=pd.read_csv("employees.csv")
print("the data in the csv file is :")
print()
print(df.to_string())

print()
rows,columns=df.shape
print("the number of rows are: ",rows)
print("the number of columns are: ",columns)

the data in the csv file is :

   Employee ID     Name Department  Age  Salary  Year_of_experience Joining Date  Gender  Bonus  Rating
0          101    Alice         HR   29   50000                   4   15/03/2020  Female   5000     4.5
1          102      Bob         IT   34   70000                   8   19/07/2017    Male   7000     4.0
2          103  Charlie         IT   41   65000                  10   01/06/2013    Male   6000     3.8
3          104    Diana  Marketing   28   55000                   3   10/02/2021  Female   4500     4.7
4          105   Edward      Sales   38   60000                  12   25/11/2010    Male   5000     3.5
the number of rows are:  5
the number of columns are:  10

In [11]:
# b) Summary of the DataFrame that includes the data types and non-null counts for each column.

import pandas as pd
df=pd.read_csv("employees.csv")
print("the data in the csv file is :")
print()
print(df.to_string())
print()

print("the summary of the data frame is: ")
print()
print(df.describe())

the data in the csv file is :

   Employee ID     Name Department  Age  Salary  Year_of_experience Joining Date  Gender  Bonus  Rating
0          101    Alice         HR   29   50000                   4   15/03/2020  Female   5000     4.5
1          102      Bob         IT   34   70000                   8   19/07/2017    Male   7000     4.0
2          103  Charlie         IT   41   65000                  10   01/06/2013    Male   6000     3.8
3          104    Diana  Marketing   28   55000                   3   10/02/2021  Female   4500     4.7
4          105   Edward      Sales   38   60000                  12   25/11/2010    Male   5000     3.5

the summary of the data frame is:

       Employee ID        Age       Salary  Year_of_experience   Bonus  \
count     5.000000   5.000000      5.00000            5.000000     5.0
mean    103.000000  34.000000  60000.00000            7.400000  5500.0
std       1.581139   5.612486   7905.69415            3.847077  1000.0
min     101.000000  28.000000  50000.00000            3.000000  4500.0
25%     102.000000  29.000000  55000.00000            4.000000  5000.0
50%     103.000000  34.000000  60000.00000            8.000000  5000.0
75%     104.000000  38.000000  65000.00000           10.000000  6000.0
max     105.000000  41.000000  70000.00000           12.000000  7000.0

         Rating
count  5.000000
mean   4.100000
std    0.494975
min    3.500000
25%    3.800000
50%    4.000000
75%    4.500000
max    4.700000

In [12]:
# c) Generate descriptive statistics.

import pandas as pd
df=pd.read_csv("employees.csv")
print("the data in the csv file is :")
print()
print(df.to_string())
print()

print("the descriptive statistics is: ")
print()
print(df.describe())

the data in the csv file is :

   Employee ID     Name Department  Age  Salary  Year_of_experience Joining Date  Gender  Bonus  Rating
0          101    Alice         HR   29   50000                   4   15/03/2020  Female   5000     4.5
1          102      Bob         IT   34   70000                   8   19/07/2017    Male   7000     4.0
2          103  Charlie         IT   41   65000                  10   01/06/2013    Male   6000     3.8
3          104    Diana  Marketing   28   55000                   3   10/02/2021  Female   4500     4.7
4          105   Edward      Sales   38   60000                  12   25/11/2010    Male   5000     3.5

the descriptive statistics is:

       Employee ID        Age       Salary  Year_of_experience   Bonus  \
count     5.000000   5.000000      5.00000            5.000000     5.0
mean    103.000000  34.000000  60000.00000            7.400000  5500.0
std       1.581139   5.612486   7905.69415            3.847077  1000.0
min     101.000000  28.000000  50000.00000            3.000000  4500.0
25%     102.000000  29.000000  55000.00000            4.000000  5000.0
50%     103.000000  34.000000  60000.00000            8.000000  5000.0
75%     104.000000  38.000000  65000.00000           10.000000  6000.0
max     105.000000  41.000000  70000.00000           12.000000  7000.0

         Rating
count  5.000000
mean   4.100000
std    0.494975
min    3.500000
25%    3.800000
50%    4.000000
75%    4.500000
max    4.700000

In [13]:
# d) Display the first 5 rows and last 3 rows of the dataset.

import pandas as pd
df=pd.read_csv("employees.csv")
print("the data in the csv file is :")
print()
print(df.to_string())
print()

print("Displaying the first 5 rows")
print()
print(df.head(5))
print()

print("Displaying the last 3 rows")
print()
print(df.tail(3))

the data in the csv file is :

   Employee ID     Name Department  Age  Salary  Year_of_experience Joining Date  Gender  Bonus  Rating
0          101    Alice         HR   29   50000                   4   15/03/2020  Female   5000     4.5
1          102      Bob         IT   34   70000                   8   19/07/2017    Male   7000     4.0
2          103  Charlie         IT   41   65000                  10   01/06/2013    Male   6000     3.8
3          104    Diana  Marketing   28   55000                   3   10/02/2021  Female   4500     4.7
4          105   Edward      Sales   38   60000                  12   25/11/2010    Male   5000     3.5

Displaying the first 5 rows

   Employee ID     Name Department  Age  Salary  Year_of_experience  \
0          101    Alice         HR   29   50000                   4
1          102      Bob         IT   34   70000                   8
2          103  Charlie         IT   41   65000                  10
3          104    Diana  Marketing   28   55000                   3
4          105   Edward      Sales   38   60000                  12

  Joining Date  Gender  Bonus  Rating
0   15/03/2020  Female   5000     4.5
1   19/07/2017    Male   7000     4.0
2   01/06/2013    Male   6000     3.8
3   10/02/2021  Female   4500     4.7
4   25/11/2010    Male   5000     3.5

Displaying the last 3 rows

   Employee ID     Name Department  Age  Salary  Year_of_experience  \
2          103  Charlie         IT   41   65000                  10
3          104    Diana  Marketing   28   55000                   3
4          105   Edward      Sales   38   60000                  12

  Joining Date  Gender  Bonus  Rating
2   01/06/2013    Male   6000     3.8
3   10/02/2021  Female   4500     4.7
4   25/11/2010    Male   5000     3.5

In [16]:
#e) Calculate the following statistics from the dataset:
# i. The average salary of employees.
# ii. The total bonus paid to all employees.
# iii. The youngest employee's age.
# iv. The highest performance rating


import pandas as pd
df=pd.read_csv("employees.csv")
print("the data in the csv file is :")
print()
print(df.to_string())
print()

average_salary = df["Salary"].mean()
total_bonus = df["Bonus"].sum()
youngest_age = df["Age"].min()
highest_rating = df["Rating"].max()
print("The average salary of employees: ",average_salary)
print("The total bonus paid to all employees: ", total_bonus)
print("The youngest employee's age: ",youngest_age)
print("The highest performance rating: " ,highest_rating)

the data in the csv file is :

   Employee ID     Name Department  Age  Salary  Year_of_experience Joining Date  Gender  Bonus  Rating
0          101    Alice         HR   29   50000                   4   15/03/2020  Female   5000     4.5
1          102      Bob         IT   34   70000                   8   19/07/2017    Male   7000     4.0
2          103  Charlie         IT   41   65000                  10   01/06/2013    Male   6000     3.8
3          104    Diana  Marketing   28   55000                   3   10/02/2021  Female   4500     4.7
4          105   Edward      Sales   38   60000                  12   25/11/2010    Male   5000     3.5

The average salary of employees:  60000.0
The total bonus paid to all employees:  27500
The youngest employee's age:  28
The highest performance rating:  4.7

In [17]:
#f) Sort the DataFrame by the Salary column in descending order.


import pandas as pd
df=pd.read_csv("employees.csv")
print("the data in the csv file is :")
print()
print(df.to_string())
print()

sorted_df = df.sort_values(by="Salary", ascending=False)
print("the sorted data frame is : ")
print(sorted_df)

the data in the csv file is :

   Employee ID     Name Department  Age  Salary  Year_of_experience Joining Date  Gender  Bonus  Rating
0          101    Alice         HR   29   50000                   4   15/03/2020  Female   5000     4.5
1          102      Bob         IT   34   70000                   8   19/07/2017    Male   7000     4.0
2          103  Charlie         IT   41   65000                  10   01/06/2013    Male   6000     3.8
3          104    Diana  Marketing   28   55000                   3   10/02/2021  Female   4500     4.7
4          105   Edward      Sales   38   60000                  12   25/11/2010    Male   5000     3.5

the sorted data frame is :
   Employee ID     Name Department  Age  Salary  Year_of_experience  \
1          102      Bob         IT   34   70000                   8
2          103  Charlie         IT   41   65000                  10
4          105   Edward      Sales   38   60000                  12
3          104    Diana  Marketing   28   55000                   3
0          101    Alice         HR   29   50000                   4

  Joining Date  Gender  Bonus  Rating
1   19/07/2017    Male   7000     4.0
2   01/06/2013    Male   6000     3.8
4   25/11/2010    Male   5000     3.5
3   10/02/2021  Female   4500     4.7
0   15/03/2020  Female   5000     4.5

In [18]:
# g) Add a new column that categorizes employees based on their performance rating:
# i. Excellent for ratings >= 4.5
# ii. Good for ratings >= 4.0 but < 4.5
# iii. Average for ratings < 4.0


def performance(rating):
    if rating >= 4.5:
        return "Excellent"
    elif 4.0 <= rating < 4.5:
        return "Good"
    else:
        return "Average"

import pandas as pd
df=pd.read_csv("employees.csv")
print("the data in the csv file is :")
print()
print(df.to_string())
print()


df["Performance"] = df["Rating"].apply(performance)

print("printing the updated data frame")
print(df)

the data in the csv file is :

   Employee ID     Name Department  Age  Salary  Year_of_experience Joining Date  Gender  Bonus  Rating
0          101    Alice         HR   29   50000                   4   15/03/2020  Female   5000     4.5
1          102      Bob         IT   34   70000                   8   19/07/2017    Male   7000     4.0
2          103  Charlie         IT   41   65000                  10   01/06/2013    Male   6000     3.8
3          104    Diana  Marketing   28   55000                   3   10/02/2021  Female   4500     4.7
4          105   Edward      Sales   38   60000                  12   25/11/2010    Male   5000     3.5

printing the updated data frame
   Employee ID     Name Department  Age  Salary  Year_of_experience  \
0          101    Alice         HR   29   50000                   4
1          102      Bob         IT   34   70000                   8
2          103  Charlie         IT   41   65000                  10
3          104    Diana  Marketing   28   55000                   3
4          105   Edward      Sales   38   60000                  12

  Joining Date  Gender  Bonus  Rating Performance
0   15/03/2020  Female   5000     4.5   Excellent
1   19/07/2017    Male   7000     4.0        Good
2   01/06/2013    Male   6000     3.8     Average
3   10/02/2021  Female   4500     4.7   Excellent
4   25/11/2010    Male   5000     3.5     Average

In [19]:
# h) Identify missing values in the DataFrame.


import pandas as pd
df=pd.read_csv("employees.csv")
print("the data in the csv file is :")
print()
print(df.to_string())
print()

miss = df.isnull()

print("missing Values are:")
print(miss)

the data in the csv file is :

   Employee ID     Name Department  Age  Salary  Year_of_experience Joining Date  Gender  Bonus  Rating
0          101    Alice         HR   29   50000                   4   15/03/2020  Female   5000     4.5
1          102      Bob         IT   34   70000                   8   19/07/2017    Male   7000     4.0
2          103  Charlie         IT   41   65000                  10   01/06/2013    Male   6000     3.8
3          104    Diana  Marketing   28   55000                   3   10/02/2021  Female   4500     4.7
4          105   Edward      Sales   38   60000                  12   25/11/2010    Male   5000     3.5

missing Values are:
   Employee ID   Name  Department    Age  Salary  Year_of_experience  \
0        False  False       False  False   False               False
1        False  False       False  False   False               False
2        False  False       False  False   False               False
3        False  False       False  False   False               False
4        False  False       False  False   False               False

   Joining Date  Gender  Bonus  Rating
0         False   False  False   False
1         False   False  False   False
2         False   False  False   False
3         False   False  False   False
4         False   False  False   False

In [21]:
# i) Rename the Employee_ID column to ID.


import pandas as pd
df=pd.read_csv("employees.csv")
print("the data in the csv file is :")
print()
print(df.to_string())
print()

df = df.rename(columns={"Employee ID": "ID"})
print("the new data frame is ")
print(df)

the data in the csv file is :

   Employee ID     Name Department  Age  Salary  Year_of_experience Joining Date  Gender  Bonus  Rating
0          101    Alice         HR   29   50000                   4   15/03/2020  Female   5000     4.5
1          102      Bob         IT   34   70000                   8   19/07/2017    Male   7000     4.0
2          103  Charlie         IT   41   65000                  10   01/06/2013    Male   6000     3.8
3          104    Diana  Marketing   28   55000                   3   10/02/2021  Female   4500     4.7
4          105   Edward      Sales   38   60000                  12   25/11/2010    Male   5000     3.5

the new data frame is
    ID     Name Department  Age  Salary  Year_of_experience Joining Date  \
0  101    Alice         HR   29   50000                   4   15/03/2020
1  102      Bob         IT   34   70000                   8   19/07/2017
2  103  Charlie         IT   41   65000                  10   01/06/2013
3  104    Diana  Marketing   28   55000                   3   10/02/2021
4  105   Edward      Sales   38   60000                  12   25/11/2010

   Gender  Bonus  Rating
0  Female   5000     4.5
1    Male   7000     4.0
2    Male   6000     3.8
3  Female   4500     4.7
4    Male   5000     3.5

In [23]:
# j) Find all employees who:
# i. Have more than 5 years of experience.
# ii. Belong to the IT department.


import pandas as pd
df=pd.read_csv("employees.csv")
print("the data in the csv file is :")
print()
print(df.to_string())
print()

ee = df[df["Year_of_experience"] > 5]
it_e = df[df["Department"] == "IT"]
print("employees more than 5 years of experience are:")
print()
print(ee)
print("employees of IT department:")
print()
print(it_e)

the data in the csv file is :

   Employee ID     Name Department  Age  Salary  Year_of_experience Joining Date  Gender  Bonus  Rating
0          101    Alice         HR   29   50000                   4   15/03/2020  Female   5000     4.5
1          102      Bob         IT   34   70000                   8   19/07/2017    Male   7000     4.0
2          103  Charlie         IT   41   65000                  10   01/06/2013    Male   6000     3.8
3          104    Diana  Marketing   28   55000                   3   10/02/2021  Female   4500     4.7
4          105   Edward      Sales   38   60000                  12   25/11/2010    Male   5000     3.5

employees more than 5 years of experience are:

   Employee ID     Name Department  Age  Salary  Year_of_experience  \
1          102      Bob         IT   34   70000                   8
2          103  Charlie         IT   41   65000                  10
4          105   Edward      Sales   38   60000                  12

  Joining Date Gender  Bonus  Rating
1   19/07/2017   Male   7000     4.0
2   01/06/2013   Male   6000     3.8
4   25/11/2010   Male   5000     3.5
employees of IT department:

   Employee ID     Name Department  Age  Salary  Year_of_experience  \
1          102      Bob         IT   34   70000                   8
2          103  Charlie         IT   41   65000                  10

  Joining Date Gender  Bonus  Rating
1   19/07/2017   Male   7000     4.0
2   01/06/2013   Male   6000     3.8

In [1]:
# k) Modify the dataset by adding a new column, Tax, which deducts 10% of the
# Salary.
# l) Save the modified DataFrame (with added columns) to a new CSV file.


import pandas as pd
df=pd.read_csv("employees.csv")
print("the data in the csv file is :")
print()
print(df.to_string())
print()


df["Tax"] = df["Salary"] * 0.10
print("now the data in the csv file is :")
print()
print(df.to_string())
print()

the data in the csv file is :

   Employee ID     Name Department  Age  Salary  Year_of_experience Joining Date  Gender  Bonus  Rating
0          101    Alice         HR   29   50000                   4   15/03/2020  Female   5000     4.5
1          102      Bob         IT   34   70000                   8   19/07/2017    Male   7000     4.0
2          103  Charlie         IT   41   65000                  10   01/06/2013    Male   6000     3.8
3          104    Diana  Marketing   28   55000                   3   10/02/2021  Female   4500     4.7
4          105   Edward      Sales   38   60000                  12   25/11/2010    Male   5000     3.5

now the data in the csv file is :

   Employee ID     Name Department  Age  Salary  Year_of_experience Joining Date  Gender  Bonus  Rating     Tax
0          101    Alice         HR   29   50000                   4   15/03/2020  Female   5000     4.5  5000.0
1          102      Bob         IT   34   70000                   8   19/07/2017    Male   7000     4.0  7000.0
2          103  Charlie         IT   41   65000                  10   01/06/2013    Male   6000     3.8  6500.0
3          104    Diana  Marketing   28   55000                   3   10/02/2021  Female   4500     4.7  5500.0
4          105   Edward      Sales   38   60000                  12   25/11/2010    Male   5000     3.5  6000.0

In [2]:
# l) : Save the modified DataFrame to a new CSV file

import pandas as pd
df=pd.read_csv("employees.csv")
print("the data in the csv file is :")
print()
print(df.to_string())
print()

modified_csv_path = "modified_employees.csv"
df.to_csv(modified_csv_path, index=False)

print(f"Modified DataFrame saved to {modified_csv_path}")

the data in the csv file is :

   Employee ID     Name Department  Age  Salary  Year_of_experience Joining Date  Gender  Bonus  Rating
0          101    Alice         HR   29   50000                   4   15/03/2020  Female   5000     4.5
1          102      Bob         IT   34   70000                   8   19/07/2017    Male   7000     4.0
2          103  Charlie         IT   41   65000                  10   01/06/2013    Male   6000     3.8
3          104    Diana  Marketing   28   55000                   3   10/02/2021  Female   4500     4.7
4          105   Edward      Sales   38   60000                  12   25/11/2010    Male   5000     3.5

Modified DataFrame saved to modified_employees.csv